*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbah Sans', sans-serif;
}

.body{
    background-color: rgb(4, 141, 252);
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
}

.navbar{
    background-color: #fff;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(241, 241, 241) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 1.2rem;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

#navbar__logo{
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo:hover{
    -webkit-text-stroke: 0.5px  rgb(4, 141, 252);
}


.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: rgb(3, 111, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    -webkit-text-stroke: 0.3px  rgb(4, 141, 252);
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background-color: #fff;
        background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(241, 241, 241) 100%);
        top: 100%;
        opacity: 1;
        z-index: 99;
        transition: all 0.5s ease;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        height: 3px;
        width: 25px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: rgb(3, 56, 106);
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
}

/* Home Page */

.home__container{
    background-color: rgb(4, 141, 252);
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    position: relative;
    z-index: 1;
}

.home__title{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-size: 5rem;
    text-align: center;
    font-weight: 600;
    cursor: default;
}

.home__title:hover{
    -webkit-text-stroke: 3px #fff;
    color: transparent;
}

.backvid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (max-width: 960px){
    .home__title{
        font-size: 4rem;
    }
}


/* CV Page */

.CV{
    background-color: rgb(4, 141, 252);
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
    display: flex;
    padding-top: 20px;
    z-index: -1;
}

.CV__t{
    background-image: linear-gradient(to right, #fff, rgb(190, 188, 188));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
    font-size: 3rem;
    cursor: default;
}

.CV__p{
    font-size: 1.85rem;
    color: #fff;
    padding-bottom: 8px;
    cursor: default;
    padding-left: 10px;
}

#fa{
    padding-right: 10px;
}

#cv-icon{
    cursor: pointer;
}
/* What Else Page */

.WhatElse{
    background-color: rgb(4, 141, 252);
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
    display: flex;
    padding-top: 20px;
    z-index: -1;
}

.WhatElse__content{
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: column;

}

.WhatElse__t{
    background-image: linear-gradient(to right, #fff, rgb(190, 188, 188));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
    font-size: 5rem;
    cursor: default;
}

#travel-map{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
}

#streaming{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

#github-icon{
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .WhatElse__content{
        height: 180vh;
    }

    .WhatElse__t{
        font-size: 4rem;
    }

    #travel-map, #streaming{
        margin-left: 0;
        margin-right: 0;
        padding-left: 20%;
    }
}


/* Contact Page */


.contact{
    background-color: rgb(4, 141, 252);
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
    display: flex;
    padding-top: 20px;
    z-index: -1;
}

.contact__content{
    background-color: rgb(4, 141, 252);
    background-image: linear-gradient(to right, rgb(4, 141, 252) 0%, rgb(3, 56, 106) 100%);
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;

}

.contact__title{
    background-image: linear-gradient(to right, #fff, rgb(190, 188, 188));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    margin-left: 5%;
    font-size: 4rem;
    cursor: default;
}

.contact__list{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: 5%;
}

.contact__item{
    height: 80px;
}

.contact__p{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-right: 5rem;
    height: 100%;
    font-size: 3rem;
    cursor: default;
}

#email-icon{
    padding-left: 30px;
    cursor: pointer;
}

#linkedin-icon{
    padding-left: 30px;
    cursor: pointer;
}

#whatsapp-icon{
    padding-left: 30px;
    cursor: pointer;
}

.popup{
    position: fixed;
    top: 40%;
    left: 33%;
    width: 33%;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.655);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 15px;
}

.popup__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

form{
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 15px;
}

form h1{
    color: #fff;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 12%;
}

form input, form textarea{
    border: 0;
    margin: 5px 0;
    padding: 10px;
    outline: none;
    background: #fff;
    font-size: 12px;
    border-radius: 15px;
    resize: none;
}

.send__button{
    padding: 10px;
    background-color: rgb(252, 4, 99);
    background-image: linear-gradient(to right, rgb(255, 77, 77) 0%, rgb(208, 0, 7) 100%);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    width: 62px;
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

#close{
    position: absolute;
    top: -25px;
    right: -15px;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
    color: #fff;
    z-index: 2;
}

@media screen and (max-width: 986px) {
    .contact__content{
        height: 60vh;
        width: 110vw;
    }

    .contact__list{
        display: inline-block;
        text-align: center;
    }

    .contact__title{
        font-size: 3rem;
        text-align: center;
    }

    .popup{
        width: 50%;
        height: 50%;
        left: 25%;  
        display: flex;
        justify-content: center;
        align-items: center;
        top: 20%;
    }

    form h1{
        font-size: 1rem;
    }

    form textarea{
        padding-bottom: 15px;
    }

    .send__button{
        margin-left: 30%;
        height: 30px;
        padding-top: 5px;
    }
}



